<!-- Footer -->
<footer class="page-footer font-small black pt-4">
  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 i18n="Footer Header|Header for the footer@@footerTitle" class="text-uppercase font-weight-bold">Dane do kontaktu</h5>
        <p>
          STALCRAFT<br/>
          Tomasz Mroczek<br/>
          ul. Słoneczna 111<br/>
          32-765 Rzezawa<br/>
          <mdb-icon fas icon="phone" size="lg"></mdb-icon>&emsp;+48 535 858 068<br/>
          <mdb-icon fas icon="at" size="lg"></mdb-icon>&emsp;info@stalcraft.eu
        </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">
        <!-- Content -->
        <h5 i18n="Find Us Header|Header for the find us element@@findUsHeader" class="text-uppercase font-weight-bold">Nasze media</h5>
          <p>
            <mdb-icon fab icon="facebook-square" size="5x"></mdb-icon>
          </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <span>© 2019 Copyright: Kamil Mroczek</span>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
