.icon {
  padding-right: 2%;
}

p,
h5,
span {
  color: #f2f2f2 !important;
}

h5 {
  font-family: Capture;
}

span,
p {
  font-family: "Black Ops One", cursive;
}

@font-face {
  font-family: Capture;
  src: url("../../assets/fonts/Capture_it.ttf") format("opentype");
}
