<!-- Intro -->
<section class="view">
  <div class="row">
    <div class="first col-md-6 f-col">
      <div
        class="text py-3 px-md-5 d-flex flex-column justify-content-center align-items-center h-100"
      >
        <h1 class="title h1 my-4">Poznaj STALCRAFT...</h1>
        <article class="article">
          <h2 class="article__title text-justify">
            Firma STALCRAFT powstała w 2014 roku i już od samego początku
            swojego istnienia skupia swoje działanie w obszarze instalacji
            procesowych w obiektach przemysłu spożywczego, farmaceutycznego oraz
            chemicznego ze stali nierdzewnych.<br />O naszej jakości decydują
            doświadczeni pracownicy, posiadający wiedzę niezbędną do
            rozwiązywania problematyki i złożoności każdego projektu.
          </h2>
        </article>
        <div class="mr-auto">
          <button
            mdbBtn
            type="button"
            color="elegant"
            class="btn btn-margin btn-rounded"
            mdbWavesEffect
            routerLink="/contact"
          >
            Skontaktuj się z nami<i class="fas fa-caret-right ml-3"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="second col-md-6 w-100 s-col">
      <div class="view">
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-carousel-item>
            <img
              class="d-block w-100"
              src="../../assets/homegallery/1.jpg"
              alt="First slide"
            />
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img
              class="d-block w-100"
              src="../../assets/homegallery/2.jpg"
              alt="Second slide"
            />
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img
              class="d-block w-100"
              src="../../assets/homegallery/3.jpg"
              alt="Third slide"
            />
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>
  </div>
</section>
<!-- Intro -->
