@import "../../../node_modules/rfs/scss";

.header {
  @include font-size(2.5rem);
  font-family: Capture;
}

.content {
  @include font-size(1.5rem);
  font-family: 'Black Ops One', cursive;
}

button {
  @include font-size(1rem);
  font-family: 'Black Ops One', cursive;
}

.text {
  padding: 10% !important;
}

.f-col {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.s-col {
  padding: 0;
}

:host ::ng-deep .carousel-control-prev,
:host ::ng-deep .carousel-control-next,
:host ::ng-deep .carousel-control-prev-icon,
:host ::ng-deep .carousel-control-next-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
}

@font-face {
  font-family: Capture;
  src: url("../../assets/fonts/Capture_it.ttf") format("opentype");
}

@media (max-width: 1900px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .col-md-6 {
    max-width: 100% !important;
  }

  .second {
    max-height: 50% !important;
  }
}

@media (max-width: 1900px) and (min-width: 1000px){
  img{
    height:800px;
  }
}