<!-- Default form contact -->
<form
  class="text-center border border-light p-5"
  [formGroup]="contactForm"
  (ngSubmit)="onSubmit()"
>
  <p class="h4 mb-4">Skontaktuj się z nami</p>

  <!-- Name -->
  <input
    type="text"
    formControlName="contactFormName"
    id="defaultContactFormName"
    mdbInput
    class="form-control mb-4"
    placeholder="Imię"
  />

  <!-- Email -->
  <input
    type="email"
    formControlName="contactFormEmail"
    id="defaultContactFormEmail"
    mdbInput
    class="form-control mb-4"
    placeholder="E-mail"
  />

  <!-- Subject -->
  <label>Temat</label>
  <select
    formControlName="contactFormSubjects"
    class="browser-default custom-select mb-4"
  >
    <option value="" disabled>Wybierz opcję</option>
    <option value="Zlecenie" selected>Zlecenie</option>
    <option value="Współpraca">Współpraca</option>
    <option value="Opinia">Opinia</option>
    <option value="Inne">Inne</option>
  </select>

  <!-- Message -->
  <div class="form-group">
    <textarea
      formControlName="contactFormMessage"
      class="form-control rounded-0"
      mdbInput
      id="exampleFormControlTextarea2"
      rows="3"
      placeholder="Wiadomość"
    ></textarea>
  </div>

  <!-- Copy -->
  <div class="custom-control custom-checkbox mb-4">
    <input
      formControlName="contactFormCopy"
      type="checkbox"
      class="custom-control-input"
      id="defaultContactFormCopy"
    />
    <label class="custom-control-label" for="defaultContactFormCopy"
      >Prześlij mi kopię tej wiadomości</label
    >
  </div>

  <!-- Send button -->
  <button
    mdbBtn
    color="dark"
    outline="true"
    block="true"
    class="w-50 z-depth-0 my-4 waves-effect"
    mdbWavesEffect
    type="submit"
    [disabled]="disabledSubmitButton"
  >
    Wyślij
  </button>
</form>
<!-- Default form contact -->
