<!-- Default form contact -->
<form
  class="text-center border border-light p-5"
  [formGroup]="contactForm"
  (ngSubmit)="onSubmit()"
>
  <p i18n="Form Contact Us|Contact Form's Header@@contactFormHeader" class="h4 mb-4">Skontaktuj się z nami</p>

  <!-- Name -->
  <input
    type="text"
    formControlName="contactFormName"
    id="defaultContactFormName"
    mdbInput
    class="form-control mb-4"
    placeholder="Imię"
    i18n-placeholder="Form Name|Name in contact form@@contactFormName"
  />

  <!-- Email -->
  <input
    type="email"
    formControlName="contactFormEmail"
    id="defaultContactFormEmail"
    mdbInput
    class="form-control mb-4"
    placeholder="E-mail"
    i18n-placeholder="Form E-mail|E-mail in contact form@@contactFormEmail"
  />

  <!-- Subject -->
  <label
  i18n="Form Subject|Subject in contact form@@contactFormSubject"
  class="h4 mb4"
  >Temat</label>
  <select
    formControlName="contactFormSubjects"
    class="browser-default custom-select mb-4"
  >
    <option i18n="Form Choose Option|Choose Option in contact form@@contactFormChooseOption" value="" disabled>Wybierz opcję</option>
    <option i18n="Form Order Option|Order Option in contact form@@contactFormOrderOption" value="Zlecenie" selected>Zlecenie</option>
    <option i18n="Form Collaboration Option|Collaboration Option in contact form@@contactFormCollaborationOption" value="Współpraca">Współpraca</option>
    <option i18n="Form Opinion Option|Opinion Option in contact form@@contactFormOpinionOption" value="Opinia">Opinia</option>
    <option i18n="Form Other Option|Other Option in contact form@@contactFormOtherOption" value="Inne">Inne</option>
  </select>

  <!-- Message -->
  <div class="form-group">
    <textarea
      formControlName="contactFormMessage"
      class="form-control rounded-0"
      mdbInput
      id="exampleFormControlTextarea2"
      rows="3"
      placeholder="Wiadomość"
      i18n-placeholder="Form E-mail|E-mail in contact form@@contactFormEmail"
    ></textarea>
  </div>

  <!-- Copy -->
  <div class="custom-control custom-checkbox mb-4">
    <input
      formControlName="contactFormCopy"
      type="checkbox"
      class="custom-control-input"
      id="defaultContactFormCopy"
    />
    <label class="custom-control-label" for="defaultContactFormCopy"
    i18n="Send Me Copy Option|Send me Copy Option in contact form@@contactFormSendMeCopyOption"
      >Prześlij mi kopię tej wiadomości</label
    >
  </div>

  <!-- Send button -->
  <button
    mdbBtn
    color="dark"
    outline="true"
    block="true"
    class="z-depth-0 my-4 waves-effect"
    mdbWavesEffect
    type="submit"
    [disabled]="disabledSubmitButton"
    i18n="Send Button|Send Button in contact form@@contactFormSendButton"
  >
    Wyślij
  </button>
</form>
<!-- Default form contact -->
