<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark black"
  [containerInside]="false"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
      <img src="assets/sc-logo-kontra.png" height="70" alt="logo" /> </a
  ></mdb-navbar-brand>

  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto"><!--ml-auto do prawej-->
      <li class="nav-item">
        <a
          class="h2-responsive nav-link waves-light"
          mdbWavesEffect
          routerLink="/"
          i18n="About link|Navbar's about link@@aboutLink"
          >O firmie</a
        >
      </li>
      <li class="nav-item">
        <a
          class="h2-responsive nav-link waves-light"
          mdbWavesEffect
          routerLink="/offer"
          i18n="Offer link|Navbar's offer link@@offerLink"
          >Oferta</a
        >
      </li>
      <li class="nav-item">
        <a
          class="h2-responsive nav-link waves-light"
          mdbWavesEffect
          routerLink="/implementations"
          i18n="Implementations link|Navbar's implementations link@@implementationsLink"
          >Realizacje</a
        >
      </li>
      <li class="nav-item">
        <a
          class="h2-responsive nav-link waves-light"
          mdbWavesEffect
          routerLink="/references"
          i18n="References link|Navbar's references link@@referencesLink"
          >Referencje</a
        >
      </li>
      <li class="nav-item">
        <a
          class="h2-responsive nav-link waves-light"
          mdbWavesEffect
          routerLink="/contact"
          i18n="Contact link|Navbar's contact link@@contactLink"
          >Kontakt</a
        >
      </li>
    </ul>
    <!-- Links -->
  </links>
</mdb-navbar>
<!--/.Navbar-->
