@import "../../../node_modules/rfs/scss";

#main {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 2%;
}

.card {
  width: 30%;
  padding: 1%;
  margin: 1%;
}

h2 {
  @include font-size(2rem);
  font-family: "Black Ops One", cursive;
}

h4{
  @include font-size(1.2rem);
  font-family: "Black Ops One", cursive;
}

p {
  @include font-size(1.2rem);
  font-family: "Black Ops One", cursive;
}

.card{
  min-width:200px;
}
