<div id="main">
  <h2 i18n="Offer Page Header|Header for the offer page@@offerPageTitle" class="h1-responsive text-center">Czym się zajmujemy?</h2>
  <p i18n="Offer Page Description|Description for the offer page@@offerPageDescription" class="lead text-justify text-center">
    Główny zakres usług to montaże i remonty instalacji przemysłowych;
    rurociągów, zbiorników i konstrukcji. Oferujemy różne formy współpracy
    począwszy od samodzielnej wyceny i wykonania robót z materiałów własnych lub
    powierzonych przez klienta. Jednocześnie oferujemy wynajem wykwalifikowanych
    pracowników do wykonywania wyżej wymienionych prac.
  </p>
</div>
<div
  id="cards"
  class="d-flex flex-column align-items-center flex-lg-row justify-content-center"
>
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <mdb-card-img
        src="../assets/cards/bs.jpg"
        alt="Card image cap"
      ></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <mdb-card-body>
      <mdb-card-title>
        <h4 i18n="Food Industry Header|Header for the food industry@@foodIndustryHeader" class="text-center">Branża spożywcza</h4>
      </mdb-card-title>

    </mdb-card-body>
  </mdb-card>

  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <mdb-card-img
        src="../assets/cards/bc.jpg"
        alt="Card image cap"
      ></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <mdb-card-body>
      <mdb-card-title>
        <h4 i18n="Chemical Industry Header|Header for the chemical industry@@chemicalIndustryHeader" class="text-center">Branża chemiczna</h4>
      </mdb-card-title>

    </mdb-card-body>
  </mdb-card>

  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <mdb-card-img
        src="../assets/cards/bf.jpg"
        alt="Card image cap"
      ></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <mdb-card-body>
      <mdb-card-title>
        <h4 i18n="Pharmaceutical Industry Header|Header for the pharmaceutical industry@@pharmaceuticalIndustryHeader" class="text-center">Branża farmaceutyczna</h4>
      </mdb-card-title>

    </mdb-card-body>
  </mdb-card>
</div>
